#caja_encuesta{
    background-image: linear-gradient(white,rgb(69, 150, 197), rgb(142, 68, 173));
    margin-top: 10px;
}
form legend{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div input{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#envio{
    margin-left: 50%;
}
form{
   margin: 0 auto;
   width: 80%;   
   padding: 2px;
   border-radius: 10px;  
}
#enc{
    color:red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.oculto{
    display: none;
}

.copy{
    
    margin-top: 15px; ;
}